@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
body{
  font-family: 'Noto Sans KR', sans-serif;
}
::selection { 
  color: rgb(23, 51, 165);
  background: rgb(248, 220, 9);
}

a:link{
  color: rgb(23, 51, 165);
}
a:visited{
  color: rgb(23, 51, 165);
}
a:hover{
  color: rgb(23, 51, 165);
}
a:active{
  color: rgb(23, 51, 165);
}
