@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
body{
  background-color: white;
  color: black;
  font-family: 'Noto Sans KR', sans-serif;
}
      div.row {
        display: flex;
      }
      div.left {
        flex: 1;
      }
      div.center {
        flex: 1;
      }
      div.right {
        flex: 1;
      }

#svgelem {
   margin-left:auto;
   margin-right:auto;
   display:block;
}
::selection { 
  color: rgb(23, 51, 165);
  background: rgb(248, 220, 9);
}
a:link{
  color: rgb(23, 51, 165);
}
a:visited{
  color: rgb(23, 51, 165);
}
a:hover{
  color: rgb(23, 51, 165);
}
a:active{
  color: rgb(23, 51, 165);
}
code{
  font-family: 'Source Code Pro', monospace; 
  color: rgb(23, 51, 165);
  background: rgb(248, 220, 9);
}
b{
  font-family: 'Noto Sans KR', sans-serif;
  color: rgb(23, 51, 165);
  background: rgb(248, 220, 9);
}
