@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
body{
  background-color: white;
  color: black;
  font-family: 'Noto Sans KR', sans-serif;
}
      div {
        width: 100%;
        display: flex;
      }
      div.left {
        width: 50%;
        float: left;
        box-sizing: border-box;
      }
      div.right {
        width: 50%;
        float: right;
        box-sizing: border-box;
      }
#svgelem {
   margin-left:auto;
   margin-right:auto;
   display:block;
}
::selection { 
  color: rgb(23, 51, 165);
  background: rgb(248, 220, 9);
}
a:link{
  color: rgb(23, 51, 165);
}
a:visited{
  color: rgb(23, 51, 165);
}
a:hover{
  color: rgb(23, 51, 165);
}
a:active{
  color: rgb(23, 51, 165);
}
